*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}
body{
  width: 100%;
  height:auto;
  background: url("image/Animation-pic.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  background-color: rgb(47, 99, 82); 
  position: relative;
}
.header{
  margin-top: 12px;
  position: relative;
  left: 420px;
}
.add-input{
  position: relative;
  top: 5px;
  right: 65px;
  width: 520px;
  height: 51px;
  border-radius: 6px;
  border: solid 1px #fff;
  color: white;
  padding-left: 6px;
  font-size: 22px;
  background: rgba(17, 17, 17, 0.3);
  
 
}
.add-btn{
  position: relative;
  top: 3px;
  right: 10px;
  height: 51px;
  width: 110px;
  border-radius: 6px;
  cursor: pointer;
  padding: 14px;
  border: none;
  background-color: rgb(221, 4, 59, 0.2);
  color: #fff;
  box-shadow: 8px 6px 12px blue;
}
.add-btn:hover {
  background-color: #ff004f;
  cursor: pointer;
}
.container{
 display: flex;
 justify-content: space-around;
 margin-top: 70px;
}
.container-list{
  width: 320px;
  height: 470px;
  background-color: rgba(242, 233, 233, 0.259);
  border-radius:5px ;
}
#box1{
  margin: 4px;
  text-align: center;
  background-color: rgb(0,0,0, 0.4);
  box-shadow: 8px 6px 12px blue;
}
#box2{
  margin: 4px;
  text-align: center;
  background-color: rgb(0,0,0, 0.4);
  box-shadow: 8px 6px 12px blue;
}
#box3{
  margin: 4px;
  text-align: center;
  background-color: rgb(0,0,0, 0.4);
  box-shadow: 8px 6px 12px blue;

}
#box4{
  margin: 4px;
  text-align: center;
  background-color: rgb(0,0,0, 0.4);
  box-shadow: 8px 6px 12px blue;

}
.heading{
  margin: 15px;
}
.heading h2{
  color: #fff;
  font-weight: bolder;
}
.container-list1{
  overflow:auto;
}
.container-list1-item{
  background-color: #ffff;
  width: 259px;
  height: 128px;
  margin-left: 7px;
  border-radius: 3px;
  margin-bottom: 5px;
  cursor: pointer;
}
.item-color{
  width: 32px;
  height: 8px;
  position: relative;
  left: 6px;
  top: 5px;
  border-radius: 5px;
  background-color:#d1b500;
}
#box2 .item-color{
  width: 32px;
  height: 8px;
  position: relative;
  left: 6px;
  top: 5px;
  border-radius: 5px;
  background-color: #4ae7a6;
}
#box3 .item-color{
  width: 32px;
  height: 8px;
  position: relative;
  left: 6px;
  top: 5px;
  border-radius: 5px;
  background-color:solid 3px #3200b1;
}
#box4 .item-color{
  width: 32px;
  height: 8px;
  position: relative;
  left: 6px;
  top: 5px;
  border-radius: 5px;
  background-color: #e75b4a;
}
.item-heading{
margin-top: 3px;
margin-left: 6px;
}
.description{
  display: flex;
  justify-content: space-evenly;
  width: 278px;
  height: 40px;
  overflow: auto;
}
.desc-para{
  background-color: rgba(250, 247, 245, 0.9);
  width: 248px;
  height: 67px;
  padding: 5px;
  font-size: 4rem;
 
}
.desc-btn{
  margin-top: 52px;
  margin-left: 249px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 3px #d1b500;
  background-color: #ffffff;
}
#box2 .desc-btn{
  margin-top: 30px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 3px #4ae7a6;
  background-color: #ffffff;
}
#box3 .desc-btn{
  margin-top: 30px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 3px #3200b1;
  background-color: #ffffff;
}
#box4 .desc-btn{
  margin-top: 30px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 3px #e74a4a;
  background-color: #ffffff;
}
.dragging{
 border:  2px dotted cyan;
}

.modle-container {
  position: absolute;
  top: 25%;
  left: 35%;
  background-color: rgb(207, 198, 198);
  width: 30%;
}
.editInput {
  margin: 20px;
}
.saveButton {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(41, 74, 223);
  color: #fff;
}
.deleteButton {
  position: absolute;
  left: 13%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(41, 74, 223);
  color: #fff;
}

.modle-container-style {
  margin: 5px;
  display: flex;
  flex-direction: column;
  color: white;
}

lable {
  color: black;
  margin: 10px;
  font-weight: bolder;
}

.delete {
  margin-top: 3px;
  margin-left: 235px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 3px #d1b500;
  background-color: #ffffff;
}

#box2 .delete {
  border: solid 3px #4ae7a6;
  margin-top: 12px;
  margin-left: 235px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
}

#box3 .delete {
  border: solid 3px #3200b1;
  margin-top: 12px;
  margin-left: 235px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
}

#box4 .delete {
  border: solid 3px #e74a4a;
  margin-top: 12px;
  margin-left: 235px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
}
